<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<div th:if="${param.success}">
    <p>You've successfully registered to our awesome app!</p>
</div>

<form class="form-sign-in" method="POST" th:action="@{/registration}" th:object="${userRegistration}">
    <div>
        <label for="username"> Username </label>
        <input id="username"  th:field="*{username}" required autofocus="autofocus" />
    </div>

    <div>
        <label for="password">Password</label>
        <input id="password" class="form-control" type="password" th:field="*{password}" required autofocus="autofocus" />
    </div>

    <button type="submit">Register</button>

    <span>Already registered? <a href="/login">Login here</a></span>

</form>
<span><a href="/help">Help</a></span>
</body>
</html>