<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div th:if="${param.error}">
    <p>Invalid username or password!</p>
</div>

<div th:if="${param.logout}">
    <p>Logout success</p>
</div>

        <form class="form-sign-in" method="post" action="/login">
            <h2 class="form-sign-in-heading">Login</h2>

            <p>
                <label for="username">Username</label>
                <input id="username" type="text" name="username" placeholder="Username" required>
            </p>

            <p>
                <label for="password">Username</label>
                <input id="password" type="password" name="password" placeholder="Username" required>
            </p>

            <button type="submit">Sign in</button>

        </form>

<span><a href="/registration">Sign up</a></span>

</body>
</html>